ENVIRONMENT=development
UPLOAD_FILE_PATH=./uploads

DATABASE_URL=postgresql+asyncpg://root:password@localhost:5432/implantdetect
SQL_ECHO=false

SECRET_KEY=eqUmEhTFJbO6epkxTLZ98c
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

IMAGE_REPOSITORY=./uploads
IMAGE_MAXIMUM_SIZE=52428800
IMAGE_SUPPORTED_FORMATS=JPG,JPEG,PNG

YOLO_MODEL_PATH=./models/train/weights/best.pt